In [1]:
# Import Dependencies
import pandas as pd

In [2]:
world_happiness_2015 = "./data/2015.csv"
world_happiness_2016 = "./data/2016.csv"
world_happiness_2017 = "./data/2017.csv"
world_happiness_2018 = "./data/2018.csv"
world_happiness_2019 = "./data/2019.csv"
economic_freedom_report = "./data/economic_freedom_report.csv"

In [3]:
csv_2015_df = pd.read_csv(world_happiness_2015)
csv_2016_df = pd.read_csv(world_happiness_2016)
csv_2017_df = pd.read_csv(world_happiness_2017)
csv_2018_df = pd.read_csv(world_happiness_2018)
csv_2019_df = pd.read_csv(world_happiness_2019)
csv_economic_freedom_report = pd.read_csv(economic_freedom_report)

In [4]:
# Merge 2015 and 2016 data
df_2015_2016 = pd.merge(csv_2015_df, csv_2016_df, on = "Country")

In [5]:
# Rename the columns
df_2015_2016 = df_2015_2016.rename(columns={"Happiness Rank_x": "Happiness Rank_2015", 
                                           "Happiness Score_x":"Happiness Score_2015", 
                                           "Economy (GDP per Capita)_x":"Economy (GDP per Capita)_2015",
                                           "Family_x":"Family_2015",
                                           "Health (Life Expectancy)_x":"Health (Life Expectancy)_2015",
                                           "Freedom_x":"Freedom_2015",
                                           "Trust (Government Corruption)_x":"Trust (Government Corruption)_2015",
                                            "Generosity_x":"Generosity_2015",
                                           "Happiness Rank_y":"Happiness Rank_2016",
                                           "Happiness Score_y":"Happiness Score_2016",
                                           "Economy (GDP per Capita)_y":"Economy (GDP per Capita)_2016",
                                           "Family_y":"Family_2016",
                                           "Health (Life Expectancy)_y":"Health (Life Expectancy)_2016",
                                           "Freedom_y":"Freedom_2016",
                                           "Trust (Government Corruption)_y":"Trust (Government Corruption)_2016",
                                           "Generosity_y":"Generosity_2016",
                                           "Dystopia Residual_y":"Dystopia Residual_2016"
                                          })

In [6]:
# Selecting only the required columns 
df_2015_2016_new = df_2015_2016[[
    "Country",
    "Happiness Rank_2015",
    "Happiness Score_2015",
    "Economy (GDP per Capita)_2015",
    "Health (Life Expectancy)_2015",
    "Generosity_2015",
    "Freedom_2015",
    "Trust (Government Corruption)_2015",
    "Happiness Rank_2016",
    "Happiness Score_2016",
    "Economy (GDP per Capita)_2016",
    "Health (Life Expectancy)_2016",
    "Generosity_2016",
    "Freedom_2016",
    "Trust (Government Corruption)_2016"    
]]

In [7]:
# Merge 2015 and 2016 data with 2017 data
df_15_16_17 = pd.merge(df_2015_2016_new, csv_2017_df, on = "Country")

In [9]:
# Rename the 2017 columns
df_15_16_17 = df_15_16_17.rename(columns={"Happiness.Rank": "Happiness Rank_2017", 
                                           "Happiness.Score":"Happiness Score_2017", 
                                           "Economy..GDP.per.Capita.":"Economy (GDP per Capita)_2017",
                                           "Family":"Family_2017",
                                           "Health..Life.Expectancy.":"Health (Life Expectancy)_2017",
                                           "Freedom":"Freedom_2017",
                                           "Trust..Government.Corruption.":"Trust (Government Corruption)_2017",
                                            "Generosity":"Generosity_2017",
                                           "Dystopia.Residual":"Dystopia Residual_2017"
                                          })

In [10]:
# Create a new DataFrame with only required columns
df_15_16_17_new = df_15_16_17[[
    'Country', 
    'Happiness Rank_2015',
    'Happiness Score_2015',
    'Economy (GDP per Capita)_2015',
    'Health (Life Expectancy)_2015',
    'Generosity_2015',
    'Freedom_2015',
    'Trust (Government Corruption)_2015',
    'Happiness Rank_2016',
    'Happiness Score_2016',
    'Economy (GDP per Capita)_2016',
    'Health (Life Expectancy)_2016',
    'Generosity_2016',
    'Freedom_2016',
    'Trust (Government Corruption)_2016',
    'Happiness Rank_2017',
    'Happiness Score_2017',
    'Economy (GDP per Capita)_2017',
    'Health (Life Expectancy)_2017',
    'Generosity_2017',
    'Freedom_2017',    
    'Trust (Government Corruption)_2017',
    ]]

In [11]:
# Merge '15, '16, '17 data with '18 data
df_15_16_17_18 = pd.merge(df_15_16_17_new, csv_2018_df, on = "Country")

In [12]:
# Rename the 2018 columns
df_15_16_17_18 = df_15_16_17_18.rename(columns={"Overall rank": "Happiness Rank_2018", 
                                           "Score":"Happiness Score_2018", 
                                           "GDP per capita":"Economy (GDP per Capita)_2018",
                                           "Family":"Family_2017",
                                           "Healthy life expectancy":"Health (Life Expectancy)_2018",
                                           "Freedom to make life choices":"Freedom_2018",
                                           "Perceptions of corruption":"Trust (Government Corruption)_2018",
                                            "Generosity":"Generosity_2018"
                                            })

In [13]:
# Create a new DataFrame with only required columns
df_15_16_17_18_new = df_15_16_17_18[[
    'Country', 
    'Happiness Rank_2015',
    'Happiness Score_2015',
    'Economy (GDP per Capita)_2015',
    'Health (Life Expectancy)_2015',
    'Generosity_2015',
    'Freedom_2015',
    'Trust (Government Corruption)_2015',
    'Happiness Rank_2016',
    'Happiness Score_2016',
    'Economy (GDP per Capita)_2016',
    'Health (Life Expectancy)_2016',
    'Generosity_2016',
    'Freedom_2016',
    'Trust (Government Corruption)_2016',
    'Happiness Rank_2017',
    'Happiness Score_2017',
    'Economy (GDP per Capita)_2017',
    'Health (Life Expectancy)_2017',
    'Generosity_2017',
    'Freedom_2017',    
    'Trust (Government Corruption)_2017',
    'Happiness Rank_2018',
    'Happiness Score_2018',
    'Economy (GDP per Capita)_2018',
    'Health (Life Expectancy)_2018',
    'Generosity_2018',
    'Freedom_2018', 
    'Trust (Government Corruption)_2018'
    ]]

In [14]:
# Merge '15, '16, '17, '18 data with '19 data
df_15_16_17_18_19 = pd.merge(df_15_16_17_18_new, csv_2019_df, on = "Country")

In [15]:
# Rename the 2019 columns
df_15_16_17_18_19 = df_15_16_17_18_19.rename(columns={"Overall rank": "Happiness Rank_2019", 
                                           "Score":"Happiness Score_2019", 
                                           "GDP per capita":"Economy (GDP per Capita)_2019",
                                           "Family":"Family_2017",
                                           "Healthy life expectancy":"Health (Life Expectancy)_2019",
                                           "Freedom to make life choices":"Freedom_2019",
                                           "Perceptions of corruption":"Trust (Government Corruption)_2019",
                                            "Generosity":"Generosity_2019"
                                            })

In [16]:
# Create a new DataFrame with only required columns
df_15_16_17_18_19_new = df_15_16_17_18_19[[
    'Country', 
    'Happiness Rank_2015',
    'Happiness Score_2015',
    'Economy (GDP per Capita)_2015',
    'Health (Life Expectancy)_2015',
    'Generosity_2015',
    'Freedom_2015',
    'Trust (Government Corruption)_2015',
    'Happiness Rank_2016',
    'Happiness Score_2016',
    'Economy (GDP per Capita)_2016',
    'Health (Life Expectancy)_2016',
    'Generosity_2016',
    'Freedom_2016',
    'Trust (Government Corruption)_2016',
    'Happiness Rank_2017',
    'Happiness Score_2017',
    'Economy (GDP per Capita)_2017',
    'Health (Life Expectancy)_2017',
    'Generosity_2017',
    'Freedom_2017',    
    'Trust (Government Corruption)_2017',
    'Happiness Rank_2018',
    'Happiness Score_2018',
    'Economy (GDP per Capita)_2018',
    'Health (Life Expectancy)_2018',
    'Generosity_2018',
    'Freedom_2018', 
    'Trust (Government Corruption)_2018',
    'Happiness Rank_2019',
    'Happiness Score_2019',
    'Economy (GDP per Capita)_2019',
    'Health (Life Expectancy)_2019',
    'Generosity_2019',
    'Freedom_2019',
    'Trust (Government Corruption)_2019'       
    ]]
df_15_16_17_18_19_new.columns

Index(['Country', 'Happiness Rank_2015', 'Happiness Score_2015',
       'Economy (GDP per Capita)_2015', 'Health (Life Expectancy)_2015',
       'Generosity_2015', 'Freedom_2015', 'Trust (Government Corruption)_2015',
       'Happiness Rank_2016', 'Happiness Score_2016',
       'Economy (GDP per Capita)_2016', 'Health (Life Expectancy)_2016',
       'Generosity_2016', 'Freedom_2016', 'Trust (Government Corruption)_2016',
       'Happiness Rank_2017', 'Happiness Score_2017',
       'Economy (GDP per Capita)_2017', 'Health (Life Expectancy)_2017',
       'Generosity_2017', 'Freedom_2017', 'Trust (Government Corruption)_2017',
       'Happiness Rank_2018', 'Happiness Score_2018',
       'Economy (GDP per Capita)_2018', 'Health (Life Expectancy)_2018',
       'Generosity_2018', 'Freedom_2018', 'Trust (Government Corruption)_2018',
       'Happiness Rank_2019', 'Happiness Score_2019',
       'Economy (GDP per Capita)_2019', 'Health (Life Expectancy)_2019',
       'Generosity_2019', 'Freedom_2019',
       'Trust (Government Corruption)_2019'],
      dtype='object')

In [17]:
# Merge '15, '16, '17, '18, '19 data with world economic freedom data
df_15_19_econ = pd.merge(df_15_16_17_18_19_new, csv_economic_freedom_report, on = "Country")
df_15_19_econ.columns

Index(['Country', 'Happiness Rank_2015', 'Happiness Score_2015',
       'Economy (GDP per Capita)_2015', 'Health (Life Expectancy)_2015',
       'Generosity_2015', 'Freedom_2015', 'Trust (Government Corruption)_2015',
       'Happiness Rank_2016', 'Happiness Score_2016',
       'Economy (GDP per Capita)_2016', 'Health (Life Expectancy)_2016',
       'Generosity_2016', 'Freedom_2016', 'Trust (Government Corruption)_2016',
       'Happiness Rank_2017', 'Happiness Score_2017',
       'Economy (GDP per Capita)_2017', 'Health (Life Expectancy)_2017',
       'Generosity_2017', 'Freedom_2017', 'Trust (Government Corruption)_2017',
       'Happiness Rank_2018', 'Happiness Score_2018',
       'Economy (GDP per Capita)_2018', 'Health (Life Expectancy)_2018',
       'Generosity_2018', 'Freedom_2018', 'Trust (Government Corruption)_2018',
       'Happiness Rank_2019', 'Happiness Score_2019',
       'Economy (GDP per Capita)_2019', 'Health (Life Expectancy)_2019',
       'Generosity_2019', 'Freedom_2019', 'Trust (Government Corruption)_2019',
       'rank', 'score', 'pop2021'],
      dtype='object')

In [21]:
# Rename column from world economic freedom data
df_15_19_econ = df_15_19_econ.rename(columns = {'rank': 'Economic Freedom Rank',
                                                'score': 'Economic Freedom Score'
                                               })

In [26]:
# # Create a new DataFrame with only required columns 
df_final = df_15_19_econ[[
    'Country', 'Happiness Rank_2015', 'Happiness Score_2015',
       'Economy (GDP per Capita)_2015', 'Health (Life Expectancy)_2015',
       'Generosity_2015', 'Freedom_2015', 'Trust (Government Corruption)_2015',
       'Happiness Rank_2016', 'Happiness Score_2016',
       'Economy (GDP per Capita)_2016', 'Health (Life Expectancy)_2016',
       'Generosity_2016', 'Freedom_2016', 'Trust (Government Corruption)_2016',
       'Happiness Rank_2017', 'Happiness Score_2017',
       'Economy (GDP per Capita)_2017', 'Health (Life Expectancy)_2017',
       'Generosity_2017', 'Freedom_2017', 'Trust (Government Corruption)_2017',
       'Happiness Rank_2018', 'Happiness Score_2018',
       'Economy (GDP per Capita)_2018', 'Health (Life Expectancy)_2018',
       'Generosity_2018', 'Freedom_2018', 'Trust (Government Corruption)_2018',
       'Happiness Rank_2019', 'Happiness Score_2019',
       'Economy (GDP per Capita)_2019', 'Health (Life Expectancy)_2019',
       'Generosity_2019', 'Freedom_2019', 'Trust (Government Corruption)_2019',
       'Economic Freedom Rank', 'Economic Freedom Score'
]]
df_final

,Country,Happiness Rank_2015,Happiness Score_2015,Economy (GDP per Capita)_2015,Health (Life Expectancy)_2015,Generosity_2015,Freedom_2015,Trust (Government Corruption)_2015,Happiness Rank_2016,Happiness Score_2016,...,Trust (Government Corruption)_2018,Happiness Rank_2019,Happiness Score_2019,Economy (GDP per Capita)_2019,Health (Life Expectancy)_2019,Generosity_2019,Freedom_2019,Trust (Government Corruption)_2019,Economic Freedom Rank,Economic Freedom Score
0,Switzerland,1,7.587,1.39651,0.94143,0.29678,0.66557,0.41978,2,7.509,...,0.357,6,7.480,1.452,1.052,0.263,0.572,0.343,4,8.43
1,Iceland,2,7.561,1.30232,0.94784,0.43630,0.62877,0.14145,3,7.501,...,0.138,4,7.494,1.380,1.026,0.354,0.591,0.118,34,7.71
2,Denmark,3,7.527,1.32548,0.87464,0.34139,0.64938,0.48357,1,7.526,...,0.408,2,7.600,1.383,0.996,0.252,0.592,0.410,11,8.10
3,Norway,4,7.522,1.45900,0.88521,0.34699,0.66973,0.36503,4,7.498,...,0.340,3,7.554,1.488,1.028,0.271,0.603,0.341,43,7.60
4,Canada,5,7.427,1.32629,0.90563,0.45811,0.63297,0.32957,6,7.404,...,0.291,9,7.278,1.365,1.039,0.285,0.584,0.308,9,8.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,Rwanda,154,3.465,0.22208,0.42864,0.22628,0.59201,0.55191,152,3.515,...,0.444,152,3.334,0.359,0.614,0.217,0.555,0.411,58,7.39
126,Benin,155,3.340,0.28665,0.31910,0.18260,0.48450,0.08010,153,3.484,...,0.067,102,4.883,0.393,0.397,0.175,0.349,0.082,122,6.20
127,Syria,156,3.006,0.66320,0.72193,0.47179,0.15684,0.18906,156,3.069,...,0.144,149,3.462,0.619,0.440,0.331,0.013,0.141,143,5.45
128,Burundi,157,2.905,0.01530,0.22396,0.19727,0.11850,0.10062,157,2.905,...,0.076,145,3.775,0.046,0.380,0.176,0.220,0.180,128,5.94
129,Togo,158,2.839,0.20868,0.28443,0.16681,0.36453,0.10731,155,3.303,...,0.101,139,4.085,0.275,0.410,0.177,0.293,0.085,116,6.25

In [27]:
df_final.count()

Country                               130
Happiness Rank_2015                   130
Happiness Score_2015                  130
Economy (GDP per Capita)_2015         130
Health (Life Expectancy)_2015         130
Generosity_2015                       130
Freedom_2015                          130
Trust (Government Corruption)_2015    130
Happiness Rank_2016                   130
Happiness Score_2016                  130
Economy (GDP per Capita)_2016         130
Health (Life Expectancy)_2016         130
Generosity_2016                       130
Freedom_2016                          130
Trust (Government Corruption)_2016    130
Happiness Rank_2017                   130
Happiness Score_2017                  130
Economy (GDP per Capita)_2017         130
Health (Life Expectancy)_2017         130
Generosity_2017                       130
Freedom_2017                          130
Trust (Government Corruption)_2017    130
Happiness Rank_2018                   130
Happiness Score_2018                  130
Economy (GDP per Capita)_2018         130
Health (Life Expectancy)_2018         130
Generosity_2018                       130
Freedom_2018                          130
Trust (Government Corruption)_2018    129
Happiness Rank_2019                   130
Happiness Score_2019                  130
Economy (GDP per Capita)_2019         130
Health (Life Expectancy)_2019         130
Generosity_2019                       130
Freedom_2019                          130
Trust (Government Corruption)_2019    130
Economic Freedom Rank                 130
Economic Freedom Score                130
dtype: int64

In [33]:
# Get the median Trust value for 2018
Trust_2018 = df_final["Trust (Government Corruption)_2018"].median()
Trust_2018

0.08199999999999999

In [38]:
# Find the row with the missing value
df_final[df_final["Trust (Government Corruption)_2018"].isna() == True]

,Country,Happiness Rank_2015,Happiness Score_2015,Economy (GDP per Capita)_2015,Health (Life Expectancy)_2015,Generosity_2015,Freedom_2015,Trust (Government Corruption)_2015,Happiness Rank_2016,Happiness Score_2016,...,Trust (Government Corruption)_2018,Happiness Rank_2019,Happiness Score_2019,Economy (GDP per Capita)_2019,Health (Life Expectancy)_2019,Generosity_2019,Freedom_2019,Trust (Government Corruption)_2019,Economic Freedom Rank,Economic Freedom Score
19,United Arab Emirates,20,6.901,1.42727,0.80925,0.26428,0.64157,0.38583,28,6.573,...,NaN,21,6.825,1.503,0.825,0.262,0.598,0.182,71,7.05

In [48]:
df_final.iloc[df_final.index[df_final["Trust (Government Corruption)_2018"].isna() == True]]["Trust (Government Corruption)_2018"] = Trust_2018

<ipython-input-48-a1b0ab83c287>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.iloc[df_final.index[df_final["Trust (Government Corruption)_2018"].isna() == True]]["Trust (Government Corruption)_2018"] = Trust_2018

In [50]:
df_final["Trust (Government Corruption)_2018"].isna().value_counts()

False    129
True       1
Name: Trust (Government Corruption)_2018, dtype: int64